$primary: rgb(31, 122, 140);
$secondary: rgb(2, 43, 58);
$tertiary: rgb(191, 219, 247);
$text-secondary: rgb(225, 229, 242);
$background: rgb(255, 255, 255);
$background-secondary: rgb(248, 248, 248);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$gray: rgb(54, 53, 53);
