#faqs {
  padding: 120px 80px 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 80px;

  .faqs__container {
    width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;

    .faqs__content {
      padding: calc(max(0, 32) * 1px);
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: space-between;
      border: 4px solid $white;
      border-radius: 20px;
      background: linear-gradient(
        rgb(252, 252, 252) 0%,
        rgb(245, 245, 245) 100%
      );
      cursor: pointer;

      &:hover {
        background: linear-gradient(
          rgb(240, 240, 240) 0%,
          rgb(237, 235, 235) 100%
        );
      }

      .content__ask {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h4.ask__ask {
          width: 90%;
          font-family: "Clash Display", "Poppins", system-ui, -apple-system,
            "Segoe UI", Roboto, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-weight: 500;
          font-size: 20px;
          line-height: 26px;
          color: $black;
        }

        #ask__icon {
          width: 10%;
          width: 41.15px;
          height: 41.15px;
        }
      }

      p.content__answer {
        font-family: "Poppins", system-ui, -apple-system, "Segoe UI", Roboto,
          Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 27px;
        color: $gray;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
        opacity: 0;

        &.visible {
          max-height: 200px;
          opacity: 1;
        }
      }
    }

    .faqs__content.visible {
      background: linear-gradient(
        rgb(245, 255, 249) 0%,
        rgb(251, 255, 242) 100%
      );

      &:hover {
        background: linear-gradient(
          rgb(237, 246, 255) 0%,
          rgb(242, 255, 249) 100%
        );
      }
    }
  }
}
